* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.playground {
  margin-top: 2rem;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

textarea {
  min-height: 10rem;
  height: 60vh;
  min-width: 5rem;
  width: 40%;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.action-buttons button {
  padding: 0.5rem;
  color: black;
  background-color: aliceblue;
  border: solid 1px gray;
  border-radius: 5px;
  cursor: pointer;
}

.action-buttons button:active {
  background-color: rgb(125, 183, 235);
}

.error {
  text-align: left;
  color: rgb(150, 6, 6);
  border: solid 1px rgb(172, 55, 55);
  background-color: rgb(238, 172, 172);
  padding: 0.75rem;
  border-radius: 4px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch-container{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1a8d44;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1a8d44;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}